[Unit]
Description=project_k.service - A Flask application run with Gunicorn.
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="PATH=/home/ubuntu/.local/bin"
WorkingDirectory=/var/www/project_k/
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 \
--bind unix:/var/www/project_k/project_k.sock ktv:main

[Install]
WantedBy=multi-user.target
